@font-face {
  font-family: "DM Sans";
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src:
    url("dm-sans-300.woff2") format("woff2");
}

@font-face {
  font-family: "DM Sans";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src:
    url("dm-sans-400.woff2") format("woff2");
}

@font-face {
  font-family: "DM Sans";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src:
    url("dm-sans-500.woff2") format("woff2");
}

@font-face {
  font-family: "DM Sans";
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src:
    url("dm-sans-600.woff2") format("woff2");
}

@font-face {
  font-family: "DM Sans";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src:
    url("dm-sans-700.woff2") format("woff2");
}

@font-face {
  font-family: "DM Sans";
  font-weight: 800;
  font-style: normal;
  font-display: swap;
  src:
    url("dm-sans-800.woff2") format("woff2");
}

@font-face {
  font-family: "Galaxie Copernicus";
  font-weight: 600;
  font-style: italic;
  font-display: swap;
  src:
    url("galaxie-copernicus-600-italic.woff2") format("woff2");
}

@font-face {
  font-family: "Duera";
  font-weight: 100;
  font-style: normal;
  font-display: swap;
  src:
    url("duera-expanded-100.woff2") format("woff2");
}

@font-face {
  font-family: "Duera";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src:
    url("duera-expanded-500.woff2") format("woff2");
}

@font-face {
  font-family: "Duera";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src:
    url("duera-expanded-700.woff2") format("woff2");
}

@font-face {
  font-family: "Slippery";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src:
    url("slippery-500.woff2") format("woff2");
}
